.subject-card {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: #fff;
    background-color: var(--light-blue);
    padding: 10px;
    width: var(--subject-card-width);
    height: var(--subject-card-height);
    text-align: left;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 8px 10px 0px rgba(19, 19, 19, 0.8);
}

.subject-card>div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.subject-card-text-div {
    width: 100%;
    overflow: hidden;
}

.attendance {
    width: 100%;
}

.subject-card-title-div {
    overflow: hidden;
    height: clamp(1.6rem, 2vw, 1.8rem);
}

.subject-card-title {
    font-size: clamp(0.95rem, 2vw, 1.05rem);
    overflow-wrap: break-word;
    padding: 2px;
    width: 100%;
}

.text-scroll-animation {
    animation: text-scroll 4s infinite forwards ease-in-out;
}

@keyframes text-scroll {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}