.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #10161B;
    height: 75px;
    padding: 10px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.nav .site-logout {
    width: 30px;
    height: 30px;
    background-image: url("../../icons/logout.svg");
    transition: path 0.2s ease-in-out;
}

.nav .site-logout:hover,
.nav .site-logout:active {
    background-image: url("../../icons/logout-hover.svg");
    transition: path 0.2s ease-in-out;
}