.nav {
    display: flex;
    align-items: center;
    background-color: #10161B;
    height: 75px;
    padding: 10px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}