:root {
    --dark-blue: #11181e;
    --blue: #182028;
    --light-blue: #1e2932;
    --lighter-blue: #222a32;
    /* --dark-blue: #10161B;
    --blue: #13191F;
    --light-blue: #161E24;
    --lighter-blue: #191F25; */

    --dark-grey: #696969;
    --grey: #9c9c9c;
    --light-grey: #cccccc;
}