table {
    width: 100%;
}

table tr {
    display: flex;
    justify-content: space-between;
}

table th {
    font-size: clamp(0.75rem, 1.5vw, 0.8rem);
    width: 20%;
}

table td {
    font-size: clamp(0.75rem, 1.5vw, 0.8rem);
    width: 30%;
}